*{
    margin: 0;
    padding: 0;
    
}
p{
    color: darkred;
    text-transform: capitalize;
    text-align: justify;
}
h1{
    text-align: left;
    text-decoration: underline;
}
h2{
    text-align: right;
    text-decoration: overline;
}
h3{
    text-align: center;
    text-decoration: line-through;
}
/* Aula 07
#exemplo2{
    background-color: darkorange;
    width: 300px;
    margin: 20px 0 0 0;
}
#exemplo{
    width: 500px;
    background-color: darkolivegreen;
    padding: 10px 30px 50px 100px;
/* Aula 06
#conteudo{
    min-width: 500px;
    max-height: 30px;
    background-color: darkolivegreen;
    padding: 20px;
}
/* Aula 05
.texto-principal{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fundo-principal{
    background-color: darkgreen;
    padding: 20px;
}
#conteudo{
    background-color: darkolivegreen;
}
/* Aula 04
h1, h2, p{
    color: cornflowerblue;
    text-align: center;
}
/* Aula 02 e 03
h1{
    color: #FF0000;
}
p{
    color: cadetblue;
    font-weight: 900;
}
input[type="text"]{
    width: 200px;
    height: 30px;
    background-color: #CCC;
    border: none;
}
input[type="email"]{
    width: 200px;
    height: 30px;
    background-color: #CCC;
    border: none;
}
input[type="submit"]{
    width: 100px;
    height: 35px;
    background-color: #000000;
    border: none;
    color: #FFF;
}
/* Aula 01
h1{
    color: coral;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
*/
